<!doctype html>
<html ng-app="app">
  <head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <style>
		  .bs-callout {
			  padding: 20px;
			  margin: 20px 0;
			  border: 1px solid #eee;
			  border-left-width: 5px;
			  border-radius: 3px;
			  border-left-color: #337ab7;
		  }

	  </style>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="BeerCounter" class="container-fluid">
		<div class="box">
			<div class="row" style="margin-top:5%">
				<div class="column col-sm-3" id="sidebar">
					<div class="bs-callout">
					<div class="page-header">
						<h1>Add new Person</h1>
					</div>
					<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" placeholder="Type your Username" aria-describedby="basic-addon1" ng-model="persona.name">
				</div>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
						<input type="text" class="form-control" placeholder="Type your Wage" aria-describedby="basic-addon1" ng-model="persona.wage">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span>
						<input type="text" class="form-control" placeholder="Type your Country" aria-describedby="basic-addon1" ng-model="persona.country">
					</div>


				<button ng-click="Agregar()" class="btn btn-primary" style="margin-top:3%" >Agregar </button>
					</div>
				</div>

				<div class="column col-sm-9" id="main">
		<div ng-repeat="person in array" class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title" id="panel-title"><i class="glyphicon glyphicon-user"></i> {{person.name}}<a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-usd"></i></span>
						<input type="text" class="form-control"  value="{{person.wage}}" aria-describedby="basic-addon1" />
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-md-3">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon2"><i class="glyphicon glyphicon-globe"></i></span>
						<input type="text" class="form-control"  value="{{person.country}}" aria-describedby="basic-addon1" />
					</div>
				</div>
				</div>
				<div class="row" style="margin-top:1%">
					<div class="col-md-3">
						<button ng-click="Eliminar($index)" class="btn btn-danger">Delete Person</button>
					</div>

				</div>
			</div>
		</div>
				</div>

    </div>
		</div>
	</div>
  </body>
</html>